# General
.DS_Store
Thumbs.db
*.log
*.tmp
*.lock
*.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Node.js
node_modules/
dist/
*.tsbuildinfo

# Docker
.dockerignore

# IDEs and Editors
.vscode/
.idea/

# Temporary files
*.tmp
*.bak
*.swp

# Backend specific
backend/__pycache__/
backend/*.sqlite3
backend/*.db

# Frontend specific
frontend/node_modules/
frontend/dist/
backend/venv
